:root {
    --main-color: darkred;
}
body {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 95%;
    margin: 0 auto;
    max-width: 75em;
}
header {
    background-color: var(--main-color);
}
.bottom {
    background-color: darkgoldenrod;
}
header ul li {
    padding: 20px;
    box-sizing: border-box;
    background-color: red;
}
.row::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
.row > * {
    float: left;
    width: 25%;
}